.btn-quantity i{
    color:rgb(245, 94, 7);
}

.qty_input{
    border: solid grey 1px;  

}

.menu-container{
    background-image: url("/static/images/menu.jpg");
}

.btn-add-to-bag{
    border: solid grey 1px;
    font-weight: 600;
}

.menu-card{
    border: solid black 2px;
}

.card-header{
    background-color:rgba(248, 151, 95, 0.808);
    border-bottom: solid 1px black
}

.select-option{
    border: solid grey 1px;
    font-weight: 600;
}

.category-container{
    border:solid 1px black;
    
}