{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Shopping Bag</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Your Food</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                {% for item in bag_items %}
                <tr>
                    <td>
                        <p><strong>{{ item.item.name }}</strong></p>
                        <p>{% if item.item.has_options %}{{ item.option }}{% else %}<span></span>{% endif %}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">${{ item.item.price }}</p>
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.subtotal }}
                    </td>
                </tr>
                
                
                

                {% endfor %}
            </table>
            </div>
            
        {% else %}
                    <p class="lead mb-5">No food here yet.</p>
                    <a href="{% url 'all_menu' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Hungry?</span>
                    </a>
        {% endif %}
    </div>
    </div>
{% endblock %}