{% extends "base.html" %}
{% load static %}


{% load bag_tools %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">

{% endblock %}



{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% if bag_items %}
    <div class="col-9 col-md-3 order-md-1 m-auto ">
        <div class="card rounded shadow">
            <div class="card-header">

                <h5 class="text-center text-uppercase">Want us to deliver???</h5>
            </div>
            <div class="card-body">
                <h6 class="text-center">Please enter your postcode to Calculate Delivery</h6>
                <form class="form text-center" method="GET">

                    <input name="postcode" type="text" class="rounded postcode-input">
                    <button type="submit" class="btn btn-calculate mt-2"><i class="fas fa-calculator"></i></button>
                </form>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </div>
    </div>

    <div class="col-10 col-md-7 order-md-2 mx-auto mt-3">
        <h3 class="text-center mt-2">Here's what you have ordered...</h3>
        <div class="table-responsive shadow mt-4">
            <table class="table table-sm mb-0">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Your Food</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                {% for i in bag_items %}
                <tr class="rounded">
                    <td class="py-3">
                        <p><strong>{% if i.item.has_options %}{{ i.option|title }} {{ i.item.name }}{% else %}{{ i.item.name }}{% endif %}</strong></p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">£{{ i.item.price }}</p>
                    </td>
                    <td class=" w-25 text-center">
                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' i.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group row m-0">
                                    <div class="input-group-prepend p-0 col-12 col-md-3">
                                        <button class="decrement-qty btn btn-quantity m-auto" data-item_id="{{ i.item_id }}" id="decrement-qty_{{ i.item_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input class="form-control form-control-sm qty_input rounded text-center" type="number" name="quantity" value="{{ i.quantity }}" min="1" max="99" data-item_id="{{ i.item_id }}" id="id_qty_{{ i.item_id }}">
                                    </div>
                                    <div class="input-group-append p-0 col-12 col-md-3">
                                        <button class="increment-qty btn btn-quantity m-auto" data-item_id="{{ i.item_id }}" id="increment-qty_{{ i.item_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    {% if i.item.has_options %}
                                    <input type="hidden" name="item_option" value="{{ i.option }}">
                                    {% endif %}
                                </div>
                            </div>
                        </form>

                        <a class="update-link text-info text-center"><small>Update</small></a>
                        <a class="remove-item text-danger" id="remove_{{ i.item_id }}" data-item_option="{{ i.option }}"><small>Remove</small></a>


                    </td>
                    <td class="py-3">
                        £{{ i.item.price | calc_subtotal:i.quantity  }}
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>


                        <h6>Delivery: £{{ delivery_charge|floatformat:2 }}</h6>

                        <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    </td>
                </tr>





            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4 text-center mt-4">
        <a href="{% url 'checkout' %}" class="buttons rounded btn-lg">
            <span>Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>



{% else %}
<div class="col-12 text-center">
    <p>Sorry, no food here yet.</p>
    <a href="{% url 'all_menu' %}" class="buttons rounded btn-lg">
        <span class="icon">
            <i class="fas fa-utensils"></i>
        </span>
        <span class="text-uppercase">Hungry?</span>
    </a>
</div>

{% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'menu/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var option = $(this).data('item_option');
        var url = `/bag/delete/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'item_option': option
        };

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>
{% endblock %}