.reservation-img{
    background: url('/media/table.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    
}

.img-container{
    position:fixed;
    z-index:-1;
}

.form-container{
    z-index:2;
    background-color:#e9e8e8;
}

.reservation-btn{
    border: solid grey 1px;
    font-weight: 600;
}