.reservation-img {
    background: url('/media/table.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.img-container {
    position: fixed;
    z-index: -1;
}

.form-container {
    z-index: 2;

}