{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="img-container h-100 w-100">
    <div class="order-now">
        <a href="{% url 'all_menu' %}" class="btn order-now-btn rounded shadow btn-lg">
            <span class="text-uppercase">Order Now</span>
        </a>
    </div>
    <div class="row h-100">

        <div class="col hero-img">

        </div>
    </div>
</div>


{% endblock %}