{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reservations/css/reservations.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<!--JS taken and modified from timepicker.co - see README for link -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            scrollbar: true,
            interval: 15,
            minTime: '17',
            maxTime: '22:30',
        });

    });
</script>
{% endblock %}

{% block page_header %}
<div class="container page-header-container">
</div>
{% endblock %}

{% block content %}
<div class="img-container h-100 w-100">
    <div class="row h-100">
        <div class="col reservation-img">

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-8 col-md-4 p-2 mt-4 mx-auto form-container text-center">
            <div class="card">
                <div class="card-header">
                    <h3>Check Availability</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'check_availability' %}" method="GET">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            {{ availability_form.time | as_crispy_field }}
                            {{ availability_form.date | as_crispy_field }}
                        </fieldset>
                        <button type="submit" class="buttons rounded">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}