{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reservations/css/reservations.css' %}">

{% endblock %}


{% block page_header %}
<div class="container page-header-container">
</div>
{% endblock %}

{% block content %}
<div class="img-container h-100 w-100">
    <div class="row h-100">
        <div class="col reservation-img">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-8 col-md-4 p-2 mt-4 mx-auto form-container rounded text-center">
            <div class="card res-card">
                <div class="card-header">
                    <h3>Book a Table</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'reservation' %}" method="POST" class="rounded">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label text-black px-2 w-auto">Your Details</legend>
                            {{ reservation_form.full_name | as_crispy_field }}
                            {{ reservation_form.email | as_crispy_field }}
                            {{ reservation_form.phone_number | as_crispy_field }}
                            {{ reservation_form.date | as_crispy_field }}
                            {{ reservation_form.time | as_crispy_field }}
                            {{ reservation_form.covers | as_crispy_field }}
                        </fieldset>
                        <button type="submit" class="buttons rounded">Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}