{% extends "base.html" %}
{% load static %}

{% block extra_css %}


{% endblock %}

{% block extra_js %}

{% endblock %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Book a Table</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="img-container h-100 w-100">
    <div class="row h-100">
        <div class="col reservation-img">
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row form-container">
        <div class="col-10 m-auto">
<form action="{% url 'reservation' %}" method="POST" class="rounded">
    {% csrf_token %}
    <fieldset class="rounded px-3 mb-5">
        <legend class="fieldset-label text-black px-2 w-auto">Your Details</legend>
        {{ reservation_form.full_name | as_crispy_field }}
        {{ reservation_form.email | as_crispy_field }}
        {{ reservation_form.phone_number | as_crispy_field }}
        {{ reservation_form.date | as_crispy_field }}
        {{ reservation_form.time | as_crispy_field }}
        {{ reservation_form.covers | as_crispy_field }}
    </fieldset>
    
        
        
    <button type="submit">Submit</button>

</form>

</div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
    
{% endblock %}