{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">

{% endblock %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Profile</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row logo-img">
    <div class="col-12 col-lg-4 text-center mb-3">
        <div class="card details-form text-center m-auto rounded shadow">
            <div class="card-header">
                <h5 class="text-center mb-2">Personal Details</h5>
            </div>
            <div class="card-body">
                <p class="text-muted">This is where we send your food...</p>
                <p class="text-muted">Make sure it is correct!!</p>

                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="buttons rounded mt-2">Update</button>
                </form>
            </div>
        </div>


    </div>

    <div class="col-9 col-sm-8 col-lg-4 mb-4 mx-auto">
        <h5 class="text-center mb-4">Order History</h5>

        {% for order in orders %}

        <div class="card  rounded shadow m-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-7">
                        Order Number: {{ order.order_number|truncatechars:9 }}
                    </div>
                    <div class="col-5">
                        Order Total: £{{ order.order_total }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <ul>
                            {% for i in order.lineitems.all %}
                            <li class="small">

                                {{ i.quantity }} x {% if i.item_option %}{{ i.item_option|title }}{% endif %} {{ i.item.name }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-5">
                        <h6 class="text-center">Enjoyed this order???</h6>
                        <form class="form text-center" action="{% url 'reorder' order.order_number %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="buttons rounded">Reorder</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="col-12 col-lg-4 text-center">
        <div class="card details-form text-center m-auto rounded shadow">
            <div class="card-header">
                <h5 class="text-center mb-2">Table Reservations</h5>
            </div>
            <div class="card-body">
                {% if reservation %}
                {% for res in reservation %}
                <div class="rounded res-details my-3 mx-auto">
                    Date: {{ res.date }}<br>
                    Time: {{ res.time }}<br>
                    Covers: {{ res.covers }}<br>

                    <button class="buttons rounded"><a href="{% url 'cancel_reservation' res.res_number %}">Cancel</a></button>
                </div>
                {% endfor %}
                {% else %}
                <p>Fancy dining in???
                    <p>Book your table Now</p>
                    <button class="buttons rounded"><a href="{% url 'check_availability' %}">Book Now</a></button>

                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}