{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Your Order's In!!!</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>

    <div class="row">
        <div class="col-12">
            <h3>Thank you {{ order.full_name }} for your order.</h3>
            
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>We will deliver your order to:</h3>
            {{ order.street_address1 }}
            {{ order.postcode }}
            
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Here's what you have ordered:</h3>
                {% for i in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black font-weight-bold">
                                {% if i.item_option %}{{ i.item_option|title }} {{ i.item.name }}{% else %}{{ i.item.name }}{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">{{ i.quantity }} @ £{{ i.item.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
        </div>
    </div>
</div>
{{ order.order_number }}
{% endblock %}