.details-form {
    width: 70%;
    background-color: #e9e8e8;
}

.logo-img {
    background-image: url('/media/logo-background.JPG');
    background-size: 150px;
    background-repeat: repeat;
}

.res-details {
    background-color: #fafafa;
    padding: 10px;
    border: solid grey 1px;
    width: 70%;

}

.details-form input {
    border: solid 1px grey;
    margin: 2px;
    border-radius: 10px;
    text-align: center;

}

.order-history{
    border-bottom:0px;
}

.icon i{
    color: rgb(245, 94, 7);
}