@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.logo h2{
    font-family: 'Berkshire Swash';
}

header{
    background-color:#fafafa;
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .page-header-container {
        padding-top: 200px;
    }
}

.hero-img{
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.img-container{
    margin:0px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-design {
    overflow: visible;
    color:grey;
    
}

.toast-header{
    margin-bottom: 2px solid orange;
}

.toast-capper {
    height: 2px;
    background-color:orange;
}