@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.logo h2 {
    font-family: 'Berkshire Swash';
    color: rgb(255, 123, 0);
    font-size: 50px;
}

header {
    background-color: #e9e8e8;

}

.page-header-container {
    font-family: 'Special Elite', cursive;
    font-weight: 900;
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .page-header-container {
        padding-top: 185px;
    }
}

@media (max-width: 992px) {

    .page-header-container {
        padding-top: 169px;
    }
}

.hero-img {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    position: relative;
}

.order-now {
    z-index: 4;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;


}

.order-now-btn {
    border: solid grey 2px;
    font-weight: 600;
    color: rgb(245, 94, 7);
    background-color: #e9e8e8;
}

.order-now-btn i {
    color: rgb(245, 94, 7);

}

.img-container {
    margin: 0px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-design {
    overflow: visible;
    color: grey;
    border: solid 2px grey;

}

.toast-capper {
    height: 2px;
    background-color: orange;
}

.toast-header {
    border-bottom: solid 2px orange;
    text-align: center;
    text-transform: uppercase;
}

.toast-header button {
    color: orange !important;
}

.toast-header i {
    font-size: 20px;
}

.error-icon i {
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.success-icon i {
    color: orange;
    padding-left: 5px;
    padding-right: 5px;
}

#main-nav i {
    color: rgb(253, 136, 27);
    font-size: 20px;
}

.lock-icon {
    color: rgb(253, 136, 27);
    font-size: 20px;

}

.input-group ::placeholder {
    text-align: center;
}

.nav-heading {
    color: grey;
}

.account-dropdown {
    z-index: 999999;
}

form {
    width: 100%;
    background-color: #e9e8e8;
    text-align: center;
    margin: auto;

}

form input {
    border: solid 1px grey;
    margin: 2px;
    border-radius: 10px;
    text-align: center;

}

.select {
    border: solid 1px grey;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(250, 104, 19, 0.61) !important;
}


.card {
    border: solid 3px black;
    z-index: 3;
    background-color: #e9e8e8;
}

.card-header {
    background-image: linear-gradient(to bottom, rgb(99, 99, 99), rgb(111, 111, 111), rgb(122, 122, 122), rgb(111, 111, 111), rgb(99, 99, 99));
    border: solid 2px black;
    color: #fafafa;
    margin: 4px;
}

.buttons {
    border: solid 1px black;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    box-shadow: 0 .5rem 1rem rgba(119, 119, 119, 0.61) !important;
    margin-top: 5px;
}

input {
    box-shadow: 0 .5rem 1rem rgba(119, 119, 119, 0.61) !important;
}

.buttons a {
    color: black;
    text-transform: uppercase;
    font-weight: 700px;
}

.buttons i {
    color: rgb(245, 94, 7);
}

.card-body a {
    color: black;
    font-weight: 700px;

}

.btn-quantity i {
    color: rgb(245, 94, 7);

}

.qty_input {
    border: solid grey 1px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.allauth-content-container {
    background-color: #e9e8e8;
    margin: auto;
    padding: 5px;
    border: 1px solid grey;

}

.allauth-content-container input {
    border-color: grey;
    border-radius: 15px;
    text-align: center;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;


}

.allauth-content-container label {
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.allauth-content-container h1 {
    text-align: center;
}

.allauth-content-container h2 {
    text-align: center;
}

.allauth-content-container p {
    text-align: center;
}

.allauth-content-container button {
    display: block;
    text-align: center;
    border: solid grey 1px;
    margin: 0px auto 10px;
    font-weight: 600;

}

.secondaryAction {
    width: 100%;
    margin: 10px auto 10px;
    display: block;
    text-align: center;
}

table {
    background-color: #e9e8e8;
    border: solid 1px grey !important;
    border-radius: 0.25rem !important;


}

table th {
    border: solid 1px grey !important;

}

table td {
    border: solid 1px grey !important;

}

.text-orange {
    color: rgb(245, 94, 7);
}

.list-inline-item i {
    color: rgb(253, 136, 27);
}

.list-inline-item a {
    color: black;
}