<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="starter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Starters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="starters-link">
                <a href="{% url 'all_menu' %}?subcategory=traditional_grilled" class="dropdown-item">Grilled & Traditional</a>
                <a href="{% url 'all_menu' %}?subcategory=vegetarian" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'all_menu' %}?subcategory=seafood" class="dropdown-item">Seafood</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="main-dishes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Main Dishes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="main-dishes-link">
                <a href="" class="dropdown-item">Classics</a>
                <a href="" class="dropdown-item">Mild Selection</a>
                <a href="" class="dropdown-item">House Specialities</a>
                <a href="" class="dropdown-item">Seafood</a>
                <a href="" class="dropdown-item">Grilled</a>
                <a href="" class="dropdown-item">New Creations</a>
                <a href="" class="dropdown-item">Chef's Recommendations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sundries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sundries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sundries-link">
                <a href="" class="dropdown-item">Side Dishes</a>
                <a href="" class="dropdown-item">Rice</a>
                <a href="" class="dropdown-item">Bread</a>
                <a href="" class="dropdown-item">Extras</a>
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="desserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Desserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="desserts-link">
                <a href="" class="dropdown-item">Hot Desserts</a>
                <a href="" class="dropdown-item">Cold Desserts</a>
            </div>
        </li>
    </ul>
</div>