{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Edit Menu Item</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <form method="POST" action="" class="form m-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-3">
                <a class="buttons rounded shadow p-2" href="{% url 'restaurant_admin' %}">Cancel</a>
                <button class="buttons rounded shadow p-2" type="submit">Make Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}