{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Menu</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
        {% for category in selected_categories %}
                
                <span class="p-2"><h3>{{ category.friendly_name }}</h3></span>
         {% endfor %}  
         {% for category in unselected_categories %}
                
         <span class="p-2">{{ category.friendly_name }}</span>
        {% endfor %}
         
         
    </div>
</div>
<div class="row">
  <div class="product-container col-10 offset-1">
      <div class="row ">
          <div class="col-12 col-md-4 order-md-last d-flex justify-content-center justify-content-md-end">
              <div class="sort-select-wrapper w-50">
                  <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                      <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                      <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                      <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                      <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                      <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                  </select>
              </div>
          </div>
      </div>
    </div>
    </div>
     
      
      {% for item in menu %}
      <div class="row">
        <div class="col-12">
        <div class="card">
          <div class="card-header">
              <div class="row">
                  <div class="col-10">
            <h5 class="mb-0">
                {{ item.name }}
            </h5>
                  </div>
            <div class="col-2">
                <h5 class="mb-0 my-auto">
                £{{ item.price }}
                </h5>
            </div>
            </div>
          </div>
            <div class="card-body">
              <div class = "row">
                <div class="col-8">
              {{ item.description }}
            </div>
            {{ item.id }}
            <div class="col-4">
                <form class="form" action="{% url 'add_to_bag' item.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with item.has_options as o %}
                        {% if o %}
                            <div class="col-12">
                                <p><strong>Choose from:</strong></p>
                                <select class="form-control rounded-0 w-50" name="item_option" id='id_item_option'>
                                    <option value="vegetable">Vegetable</option>
                                    <option value="keema">Keema</option>
                                    <option value="chicken" selected>Chicken</option>
                                    <option value="lamb">Lamb</option>
                                    <option value="fish">Fish</option>
                                </select>
                            </div>
                        {% endif %}
                        
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="0" min="0" max="99"
                                        data-item_id="{{ item.id }}"
                                        id="id_qty_{{ item.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
          </div>
          </div>
    </div>
  </div>
  </div>
  </div>
      {% endfor %}
    

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'menu/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}