{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Zolsha {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="main-nav" class="row d-none d-lg-flex">
        <div class="col-12 col-md-4 text-center my-auto">
          <a href="{% url 'home' %}" class="logo"><h2>Zolsha</h2></a>
        </div>
        <div class="col-12 col-md-4 col-lg-4 my-auto">
          <form method="GET" action="{% url 'all_menu' %}">
              <div class="input-group my-auto">
                  <input class="form-control border-dark rounded-1" type="text" name="q" placeholder="Search Dishes">
                  <div class="input-group-append">
                      <button class="form-control btn border-dark" type="submit">
                          <span class="icon">
                              <i class="fas fa-search"></i>
                          </span>
                      </button>
                  </div>
              </div>
          </form>
      </div>
        <div class="col-12 col-md-4 col-lg-4 my-auto">
          <ul class="list-inline list-unstyled">
              <li class="list-inline-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  <a href="" class="dropdown-item">Admin</a>
                  <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                  <a href="" class="dropdown-item">Logout</a>
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
          </div>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="{% url 'shopping_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                          $0.00
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-nav.html' %}
            {% include 'includes/navigation.html' %}
        </nav>
    </div>

      <div id="offer-banner" class="row text-center">
        <div class="col 12 bg-secondary text-white">
            <h4 class="logo-font">10% off when you order online</h4>                
        </div>            
    </div>
    </header>
    <h1></h1>

    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            {% include 'includes/toasts/toast_success.html' %}
          {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}
  </body>
</html>