
.details-form{
    width:80%;
    
}

#payment-form input{
    border:solid 1px grey;
    margin:2px;
    border-radius:10px;
    text-align:center;
    width:65%; 
}

#payment-form {
    width: 100%;
    background-color:white !important;
    text-align: center;
    margin: auto;

}

.text-orange{
    color:rgb(245, 94, 7);
}

#card-element{
    border-radius:10px;
    border:1px solid grey;
    padding:8px;
    background-color:#fafafa;
    color:grey;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 94, 7, 0.5);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}