

.btn-calculate i{
    color:rgb(245, 94, 7);
    font-size:20px;
}

.postcode-input{
    border:solid 1px grey;
}



.checkout-btn{
    border: solid grey 1px;
    font-weight: 600;
}

.checkout-btn i{
    color:rgb(245, 94, 7);
    
}