.btn-calculate i {
    color: rgb(245, 94, 7);
    font-size: 20px;
}

.postcode-input {
    border: solid 1px grey;
    width: 90%;
}

.form-group {
    margin-bottom: 0px !important;
}

.increment-qty {
    margin-bottom: 10px;
}

.decrement-qty i {
    margin-bottom: 10px;
}